[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "public"]
	path = public
	url = git@github.com:BruceZhang1993/brucezhang1993.github.io.git
	branch = page
